<form action="/<%= @monster.id%>" method="POST">
  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Please Enter a Name" value="<%= @monster.name%>">
  </div>

  <div>
    <label>Class</label>
    <select name="class_id">
      <%for i in 1..15%>
        <option value=<%= i %> <%= @monster.class_id == i ? "selected" : "" %>><%= @monster.get_info "class", i %></option>
      <%end%>

    </select>
  </div>

  <div>
    <label>Attack Element</label>
    <select name="attack_element_id">
      <%for i in 1..6%>
        <option value=<%= i %> <%= @monster.attack_element_id == i ? "selected" : "" %>><%= @monster.get_info "element", i %></option>
      <%end%>

    </select>
  </div>

  <div>
    <label>Weakness</label>
    <select name="weakness_element_id">
      <%for i in 1..6%>
        <option value=<%= i %> <%= @monster.weakness_element_id == i ? "selected" : "" %>><%= @monster.get_info "element", i %></option>
      <%end%>
      
    </select>
  </div>

  <div>
    <label>Generation</label>
    <select name="generation">
      <%for i in 1..5%>
        <option value=<%= i %> <%= @monster.generation == i ? "selected" : "" %>><%= i %></option>
      <%end%>
    </select>
  </div>


  <% if @monster.id != nil%>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <div>
    <input type="submit" value="Save Monster">
  </div>

</form>
