<% @monsters.each do |monster| %>
  <div>

    <h2>
      <a href= "/<%= monster.id%>" >
        <%= monster.name %>
      </a>
    </h2>

    <p>
      Class: <%= monster.get_info "class", monster.class_id%>
    </p>

    <p>
      Attack Element: <%= monster.get_info "element", monster.attack_element_id%>
    </p>

    <p>
      Weakness: <%= monster.get_info "element", monster.weakness_element_id%>
    </p>

    <p>
      Generation: <%= monster.generation%>
    </p>

  </div>
<% end %>
