<h1>
  <%= @monster.name %>
</h1>

<p>
  Class: <%= @monster.get_info "class", @monster.class_id%>
</p>

<p>
  Attack Element: <%= @monster.get_info "element", @monster.attack_element_id%>
</p>

<p>
  Weakness: <%= @monster.get_info "element", @monster.weakness_element_id%>
</p>

<p>
  Generation: <%= @monster.generation%>
</p>

<form action="/<%= @monster.id%>/edit">
  <input type="submit" value="Edit Monster">
</form>

<form action="/<%= @monster.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Monster">
</form>

<img src="<%=@monster.get_img_path%>" alt="">
